@font-face {
  font-family: PoiretOne;
  src: url("./PoiretOne-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainImg {
  content: "";
  position: fixed;
  background-color: transparent;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--positionx) var(--positiony);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  transform: scale(var(--zoomscale)) rotate(var(--rotate));
  filter: opacity(var(--opacity));
  transition: transform ease-out 0.3s, filter ease-in-out 0.4s;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.canvas {
  /* position: absolute;
  z-index: 100; */
  display: none;
}

.debug {
  z-index: 100;
  color: white;
  /* display: none; */
}

.flex {
  padding-top: 62vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  color: white;
  font-family: PoiretOne, sans-serif;
  font-size: 4em;
  z-index: 3;
}

.visualizer {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
